
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>포트폴리오 - 고보빈</title>

  <!-- Bootstrap Core CSS -->
  <link href="/portfolio2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/portfolio2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="/portfolio2/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/portfolio2/css/stylish-portfolio.min.css" rel="stylesheet">

</head>

<body id="page-top">


  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">고 보 빈 - Koh Bo Been</h1>
      <h3 class="mb-5">
        스스로 하는 개발에 자부심을 가지는 개발 지망생입니다!
      </h3>
      <div class="text-center">
        <img src="/portfolio2/img/profile2.jpg" class="rounded-circle">
      </div>
    </div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
        <h3 class="text-secondary mb-0">Identities</h3>
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>개발자로서의 역량</h2>
          <p class="lead mb-5">1. 여러 번의 프로젝트 제작 경험으로 웹 설계에 대한 노하우를 가지고 있습니다.</p>
          <p class="lead mb-5">2. 최신 웹 트렌드를 적극적으로 받아들이고 학습하며 최근에는 Typescript, Docker를 학습중입니다. </p>
          <p class="lead mb-5">3. DB설계, Bootstrap적용, AWS 호스팅까지 다양한 영역에서 개발 진행 가능합니다.</p>
           
          
        </div>
      </div>
    </div>
  </section>

   <!-- Services -->
 
      <div class="container" align="center">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">Skills</h3>
          <h2>사용할 수 있는 기술</h2>
        </div>
      </div>
      <div class="page-header">
        <div class="col-md-12">
          <h2>Languages</h2>
          <img src="/portfolio2/img/sk_language.jpg" >
        </div>
        <hr>

        <div class="col-md-12">
          <h2>Frameworks</h2>
          <img src="/portfolio2/img/sk_frameworks.jpg">
        </div>
        <hr>
        <div class="col-md-12">
            <h2>Databases</h2>
            <img src="/portfolio2/img/sk_databases.jpg" >
        </div>
        <hr>
        <div class="col-md-12">
            <h2>Mobile</h2>
            <img src="/portfolio2/img/sk_mobile.jpg">
        </div>
        <hr>
        <div class="col-md-12">
            <h2>Management tools</h2>
            <img src="/portfolio2/img/sk_management.jpg" >
        </div>
        <hr>
        <div class="col-md-12">
            <h2>Web Hosting</h2>
            <img src="/portfolio2/img/sk_webhosting.jpg" >
        </div>
        <hr>
        <div class="col-md-12">
            <h2>Design</h2>
            <img src="/portfolio2/img/sk_design.jpg" >
        </div>
        <hr>
        
    </div>

  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Portfolio</h3>
        <h2 class="mb-5">포트폴리오 모음</h2>
      </div>

    <!--항목 하나 -->
      <div class="container">
          <div class="row">
              <div class="col-sm-10">
                  <h3>1. Nodejs & Postgresql 사용한 반려동물 직거래 중개 프로젝트</h3>
                  <br><h5>기존 거래서비스의 불편한 점인 판매자/구매자 정보 파악이 힘든 점을 개선한 프로젝트입니다</h5>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-5">
                  
                  <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">스택</h5>
                        <p class="card-text">Nodejs, Expressjs, Postgresql, Ejs, Bootstrap, Restapi, Ajax, jQuery</p>
                        <h6 class="card-subtitle mb-2 text-muted">주요 기능</h6>
                       
                        <span style="white-space: pre-line">1.Ajax, Restapi를 사용한 스크랩 기능 구현
                              2.사용자간 상호작용을 통한 거래 처리 로직 구현
                              3.서브 쿼리, 테이블 조인 등을 사용한 전반적인 기능 구현  
                              4.세션을 사용한 로그인 처리, 유지             
                              5.BootStrap 템플릿 사용한 디자인 처리             
                              6.Restful url pattern을 적용한 url 간결화
                              7.AWS EC2,RDS를 이용한 호스팅 및 도메인 연결                                                            
                        </span>
                        <br>
                        <h6 class="card-subtitle mb-2 text-muted">링크</h6>
                        <a href="/sale">프로젝트로 이동하기</a>
                        <a href="https://github.com/imnotpizza/NodejsProject"><p class="card-text">Github Link</p></a>
                        
                      </div>
                  </div>
              </div>
              <div class="col-sm-5">
                  <a href="/sale"><img src="/portfolio2/img/project_nodejs.jpg" width="600" height="300"></a>
              </div>
          </div>

          <hr>

          <div class="row">
              <div class="col-sm-10">
                  <h3>2. Spring Framework & Mysql을 이용한 게시판 프로젝트</h3>
                  <br><h5>기본적인 글 작성관리, 좋아요 기능, 스크랩 기능 등이 있는 프로젝트입니다</h5>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-5">
                  
                  <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">스택</h5>
                        <p class="card-text">Spring Framework, Mysql, Mybatis, Bootstrap, Restapi, Ajax, jQuery </p>
                        <h6 class="card-subtitle mb-2 text-muted">주요 기능</h6>
                       
                        <span style="white-space: pre-line">1.Interceptor 기능을 이용한 로그인, 회원관리 기능 구현
                              2.페이징 처리 구현
                              3.Ajax, Restapi를 사용한 스크랩 기능 구현
                              4.BootStrap 템플릿 사용한 디자인 처리     
                              5.테이블 조인을 이용한 댓글처리 구현
                              6.Ajax를 통한 좋아요 기능 구현
                                                                                     
                        </span>
                        <br>
                        <h6 class="card-subtitle mb-2 text-muted">링크</h6>
                        <a href="http://13.209.35.12:8080/SpringProject_aws/board/list">프로젝트로 이동하기</a>
                        <a href="https://github.com/imnotpizza/SpringProject"><p class="card-text">Github Link</p></a>
                        
                      </div>
                  </div>
              </div>
              <div class="col-sm-5">
                  <a href="/sale"><img src="/portfolio2/img/project_spring.jpg"  width="600" height="300"></a>
              </div>
          </div>
          <hr>

          <div class="row">
              <div class="col-sm-10">
                  <h3>3. Django Framework, sqlite를 이용한 맛집 등록 프로젝트</h3>
                  <br><h5>Django, Python의 기본적인 기능을 학습하기 위해 제작한 프로젝트입니다</h5>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-5">
                  
                  <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">스택</h5>
                        <p class="card-text">Django, sqlite, bootstrap</p>
                      
                        <br>
                        <h6 class="card-subtitle mb-2 text-muted">링크</h6>
                        <a href="http://15.164.68.217:8000/djangoproject/list/"></a>
                        <a href="https://github.com/imnotpizza/DjangoProject"><p class="card-text">Github Link</p></a>
                        
                      </div>
                  </div>
              </div>
              <div class="col-sm-5">
                  <a href="/sale"><img src="/portfolio2/img/project_django.jpg" width="600" height="300"></a>
              </div>
          </div>

          <hr>

          <div class="row">
              <div class="col-sm-10">
                  <h3>4. Android 개인 앱</h3>
                  <br><h5>개인 아이디어를 이용해 출시한 앱입니다</h5>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-5">
                  
                  <div class="card">
                      <div class="card-body">
                      
                        <br>
                        <h6 class="card-subtitle mb-2 text-muted">링크</h6>
                        <a href="https://play.google.com/store/apps/details?id=com.trg.dablaq">플레이스토어로 이동하기</a>
                        
                      </div>
                  </div>
              </div>
              <div class="col-sm-5">
                  <a href="/sale"><img src="/portfolio2/img/portfolio-1.jpg"  width="600" height="300"></a>
              </div>
          </div>
          





      </div>
     
    
      
        <!--=====-->
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="content-section bg-primary text-white">
    <div class="container text-center">
      <h2 class="mb-4">제 Github에 방문해 소스코드를 참고해주세요!!</h2>
      <a href="https://github.com/imnotpizza" class="btn btn-xl btn-light mr-4">https://github.com/imnotpizza</a>
      <br><br>
        <h3>Gmail : bobin6972@gmail.com</h3>
        <h3>Naver : boooong772@naver.com</h3>
    </div>
  </section>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="/portfolio2/vendor/jquery/jquery.min.js"></script>
  <script src="/portfolio2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/portfolio2/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/portfolio2/js/stylish-portfolio.min.js"></script>

</body>

</html>
